body {
    font-size: 14pt;
    width: 700px;
    margin: auto;
    padding-top: 1em;
    /* background:url(img/bg-body.jpg); */
}

a {
    text-decoration:none;
}

p.more {
    font-size:120%;
}

#home {
    text-align: center;
}

table {
    font-size: 80%;
}
